* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    color: white;
    text-decoration: none;
    
}

header {
    background-color: #8100E6;
    padding: 12px 12px 12px 20px;
}

main {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

form div {
    display: flex;
    justify-content: center;
}


button {
    display: block;
    height: 90px;
    background-color: #8100E6;
    margin: 20px;
    width: 105px;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.24);
    font-size: 30px;
    border-style: none;
}


button img {
    width: 55px;
    height: 55px;
    margin: 5px auto auto 5px; 
}

form {
    display: block;
    text-align: center;
    justify-content: center;
    padding: 20px;
}

form button {
    background-color: #8100E6;
    border-style: none;

}

form input[type='text'] {
    height: 30px;
    text-align: center;
    border-style: none;
    border-bottom: 2px solid #8100E6;
    font-size: 26px;
    color: black;
    margin: 10px;
    width: 70vw;

}


form input[type='submit']{
    width: 80vw;
    height: 75px;
    margin: 20px auto;
    border-style: none;
    font-size: 32px;
    border-radius: 12px;
    background-color: #8100E6;
}

figcaption img {
    filter: grayscale(60%);
    margin: auto;
}

figcaption {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D7D7D7;
    width: 250px;
    border-radius: 12px;
    height: 250px;
    margin: auto;
}

canvas, video {
    width: 250px;
    height: 250px;
    border-radius: 12px;
}

